@import 'resrt.css';

/* header css*/

* {
    background-color: rgb(243, 250, 255);
}

header {
    width: 100%;
}

.heading {
    display: flex;
    justify-content: space-between;
    padding: 10px 80px;
    padding-left: 155px;
    padding-right: 90px;
    align-items: center;
    border-bottom: 2px solid rgba(169, 169, 169, 0.322);
    padding-top: 0;
}

.headingLogo {
    display: flex;
}

.hamburger {
    width: 50px;
    height: 50px;
    background-color: #3E8CFF;
    border-radius: 10px;
    display: none;
}

.hamImage {
    width: 35px;
    height: 35px;
    padding-left: 7px;
    padding-top: 6px;
    position: absolute;
    align-items: center;

    background: transparent;

}

.headingLogo h3 {
    margin-left: 10px;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
}

.headingLogo h3:hover {
    cursor: pointer;
    color: #3E8CFF;
}

.heading-images img {
    padding-left: 40px;
}

.heading-images {
    padding-right: 70px;
}

.callicon {
    width: 20px;
}

.heading2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.headImage {
    height: 50px;
    width: 200px;
    margin-left: 140PX;
}

.nav {
    display: flex;
}

.nav a {
    font-size: 18px;
    text-decoration: none;
    color: black;
    padding-right: 45px;
    padding-top: 15px;
    justify-content: space-between;
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.nav a:hover {
    cursor: pointer;
    color: #3E8CFF;
}


.heading-images img:hover {
    cursor: pointer;
}

.appointmentBtn {
    width: 190px;
    height: 53px;
    background-color: #3E8CFF;
    color: white;
    border-radius: 15px;
    margin-right: 120px;
    padding: 3px 12px;
    text-transform: uppercase;
    margin-left: 30px;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    padding-left: 35px;
    font-weight: 500;
    letter-spacing: .5px;
    border: 2px solid #3E8CFF;

}

.appointmentBtn:hover {
    cursor: pointer;
    background-color: #07306E;
    border: none;
}

.navBtn {
    display: flex;
}

.navBtn img {
    position: absolute;
    height: 20px;
    width: 20px;
    background: none;
    margin-left: 50px;
    margin-top: 16px;
}

.dropdown {
    display: inline-block;
    position: relative;
}

.dropdownbtn {
    border: none;
    border-radius: 5px;
    padding-right: 45px;
    padding-top: 15px;
    font-size: 18px;
    cursor: pointer;
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 18px;

}


.dropdown-options {
    display: none;
    position: absolute;
    background-color: #fff;
    width: 160px;
    padding: 20px;
    margin-top: 10px;
}

.dropdown:hover .dropdown-options {
    display: block;
}

.dropdown-options a {
    display: block;
    color: #000000;
    font-size: 16px;
    text-decoration: none;
    padding: 10px 10px;
    background-color: rgb(255, 255, 255);

}

.dropdown-options a:hover {
    color: #3E8CFF;
}

@media screen and (max-width: 1024px) {
    .heading {
        width: 95%;
        padding-left: 10px;
        padding-right: 10px;

    }

    .heading-images {
        padding-right: 10px;
    }

    .headImage {
        margin-left: 10px;
    }

    .navBtn {
        display: inline-block;
    }

    .appointmentBtn {
        margin-right: 10px;
    }

    .nav a,
    .dropdownbtn {
        padding-right: 30px;
    }

}

@media screen and (max-width: 770px) {
    .nav {
        display: none;
    }

    .hamburger {
        display: block;
    }

    .hamImage {
        /* padding-right: 10px; */
        margin: 0 auto;
    }

}
